In [1]:
import os
import pickle as pkl

import pandas as pd

from pydeseq2.dds import DeseqDataSet
from pydeseq2.default_inference import DefaultInference
from pydeseq2.ds import DeseqStats

In [39]:
# Loading the data from package

In [2]:
#DATA_PATH = "https://raw.githubusercontent.com/owkin/PyDESeq2/main/datasets/synthetic/"
DATA_PATH = "/Users/katsiarynadavydzenka/Documents/PhD_AI/CN-aware-DGE/Python /datasets/"
counts_df = pd.read_csv(os.path.join(DATA_PATH, "rna_counts_cnv.csv"), index_col=0)
counts_df = counts_df.T
counts_df

,G1,G2,G3,G4,G5,G6,G7,G8,G9,G10,...,G991,G992,G993,G994,G995,G996,G997,G998,G999,G1000
sample1,6160,106,14,35,78,531,96,29,1284,190,...,219,54,69,19,50,206,714,396,357,383
sample2,4511,56,63,75,83,523,48,225,1724,829,...,324,55,91,12,11,422,1443,553,666,535
sample3,6371,124,48,95,63,528,25,91,885,1003,...,89,219,64,43,41,143,998,265,634,571
sample4,4210,57,62,62,109,490,46,30,2537,550,...,216,83,40,7,19,232,1091,274,524,596
sample5,6320,46,32,68,77,426,76,49,1624,269,...,101,119,61,9,9,269,1286,187,488,769
sample6,8349,37,56,28,68,428,100,76,903,738,...,201,162,79,1,16,223,1553,348,561,958
sample7,4040,4,39,51,55,253,75,48,949,441,...,134,91,7,36,41,430,1870,305,509,630
sample8,4864,32,22,62,210,498,190,110,743,281,...,140,86,49,17,28,346,1130,552,537,159
sample9,10961,72,12,57,86,328,93,98,2388,404,...,414,153,143,26,9,233,1483,270,395,1460
sample10,4091,93,40,72,72,430,114,46,1832,214,...,354,155,37,5,1,416,1455,323,241,1105
sample11,1734,23,29,8,61,176,19,23,100,836,...,122,131,123,8,10,670,2328,863,272,766
sample12,2851,25,90,10,38,182,166,11,134,310,...,212,198,85,6,43,490,2697,205,766,866
sample13,1197,107,12,11,122,358,123,48,475,122,...,245,216,107,26,63,808,1694,753,362,802
sample14,11350,41,7,29,174,134,29,15,214,210,...,750,153,22,19,35,348,3563,708,593,1920
sample15,10365,18,2,37,111,191,269,28,233,145,...,339,40,131,44,50,1410,3023,755,833,740
sample16,4755,146,159,12,45,822,121,44,430,1293,...,669,568,110,50,6,228,761,1960,380,1860
sample17,1403,12,26,99,20,576,43,20,919,172,...,554,253,88,45,105,476,764,815,641,710
sample18,1993,18,62,45,114,205,42,8,379,365,...,353,63,303,68,84,401,2413,1873,275,1328
sample19,14363,83,10,29,11,115,23,18,438,205,...,505,57,200,28,20,294,1013,1098,1213,1100
sample20,2896,11,27,9,43,106,37,16,324,283,...,227,156,125,30,39,1110,1495,704,535,956

In [3]:
metadata = pd.read_csv(os.path.join(DATA_PATH, "metadata.csv"), index_col=0)
metadata

         condition
sample1          A
sample2          A
sample3          A
sample4          A
sample5          A
sample6          A
sample7          A
sample8          A
sample9          A
sample10         A
sample11         B
sample12         B
sample13         B
sample14         B
sample15         B
sample16         B
sample17         B
sample18         B
sample19         B
sample20         B

In [4]:
cnv = pd.read_csv(os.path.join(DATA_PATH, "cnv.csv"), index_col=0)
cnv

,sample1,sample2,sample3,sample4,sample5,sample6,sample7,sample8,sample9,sample10,sample11,sample12,sample13,sample14,sample15,sample16,sample17,sample18,sample19,sample20
G1,1,1,1,1,1,1,1,1,1,1,0.25,0.25,0.25,1.00,1.50,0.50,0.25,0.25,1.50,0.25
G2,1,1,1,1,1,1,1,1,1,1,0.25,0.50,0.50,0.25,0.50,1.50,0.50,0.25,1.00,0.50
G3,1,1,1,1,1,1,1,1,1,1,0.25,1.00,0.25,0.50,0.25,1.00,0.50,1.00,0.25,0.25
G4,1,1,1,1,1,1,1,1,1,1,0.25,0.50,0.25,0.25,0.50,0.25,1.50,1.00,0.25,0.50
G5,1,1,1,1,1,1,1,1,1,1,0.50,0.25,1.00,1.50,0.50,0.25,0.25,1.50,0.25,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
G996,1,1,1,1,1,1,1,1,1,1,2.50,2.00,2.50,2.50,2.50,2.50,1.50,1.50,2.00,2.50
G997,1,1,1,1,1,1,1,1,1,1,2.00,1.50,1.00,2.50,2.50,1.50,1.50,2.50,1.50,2.50
G998,1,1,1,1,1,1,1,1,1,1,2.50,1.00,1.50,2.50,2.50,2.50,1.50,2.50,2.00,1.50
G999,1,1,1,1,1,1,1,1,1,1,1.50,2.00,1.50,1.50,2.50,1.50,1.50,1.50,2.50,2.50
G1000,1,1,1,1,1,1,1,1,1,1,1.00,1.50,2.00,2.50,2.50,2.50,1.50,2.50,1.50,2.00

In [5]:
# Test functions
from pydeseq2.utils import test_valid_counts
test_valid_counts(counts_df)

In [6]:
from pydeseq2.utils import build_design_matrix

design_matrix = build_design_matrix(
            metadata=metadata,
            design_factors="condition",
            continuous_factors=None,
            ref_level=None,
            expanded=False,
            intercept=True,
        )
design_matrix

          intercept  condition_B_vs_A
sample1           1                 0
sample2           1                 0
sample3           1                 0
sample4           1                 0
sample5           1                 0
sample6           1                 0
sample7           1                 0
sample8           1                 0
sample9           1                 0
sample10          1                 0
sample11          1                 1
sample12          1                 1
sample13          1                 1
sample14          1                 1
sample15          1                 1
sample16          1                 1
sample17          1                 1
sample18          1                 1
sample19          1                 1
sample20          1                 1

In [9]:
des_mat={}
des_mat["design_matrix"] = design_matrix